/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin : 0;
}

/**** Header ****/

nav a {
    margin-left: 30px;
    text-decoration: none;
  }

 .heads:hover{
    border-top: solid #0065FC;
    text-decoration: none;
    padding-top: 19px;
  }

  .header, nav {
    margin-bottom : 40px ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }


header,
footer {
  background-color: white;
  padding : 20px 5px  ;
  
}




/*** premierblock***/

.premierblock {
    display: flex;
    flex-direction: column;
   padding: 10px ;
}


.titre-hebergement .titreh1 {
    margin-bottom: 25px ;
   font-size: 20px ;
   margin-bottom: 5px;
}


/**** Formulaire de recherche ****/



  form {
   
    padding : 10px;
    margin-top: 10px;
  }
  input {
   
    padding: 0px 20px;
    border: 2px solid #0065FC;
    font-size: 16px;
  }
  .search {
    width: 135px;
    height: 49px ;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px ;    
}

  .submit {
    width: 132px ;
    height: 49px ;
    background-color: #0065FC;
    color :#ffffff;
    
    border-radius: 0px 15px 15px 0px;
  }

.imagevector{
    position:relative;

    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}






/**** bouton-catégories ****/

.categories{
    display : flex ;
    flex-direction: row;
    padding : 4px 19px ;
    
    
}







:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}